
<%= javascript_include_tag "jquery-1.4.4.min" %>

<%= javascript_include_tag "jquery.nivo.slider.pack" %>


<div id="slide_holder">
<div id="slider">
<a href='product.php?id_product=12'><img src='assets/slide_00.jpg'alt="" title="<h2>Chip Paperclip Holder</h2><span>price:<b>$57.00</b></span><a href='product.php?id_product=12'>SHOP NOW</a>" /></a>
                
                            
                    <a href='category.php?id_category=5'><img src='assets/slide_01.jpg'alt="" title="<h2>Modern Wire Holder </h2><span>price:<b>$57.00</b></span><a href='product.php?id_product=12'>SHOP NOW</a>" /></a>
                
                            
                    <a href='product.php?id_product=7'><img src='assets/slide_02.jpg'alt="" title="<h2>Colored Pencil Set</h2><span>price:<b>$57.00</b></span><a href='product.php?id_product=12'>SHOP NOW</a>" /></a>
                
                    
	</div>
</div>    
<script type="text/rocketscript">
$(window).load(function() {
	$('#slider').nivoSlider({
		effect:'fade', //Specify sets like: 'fold,fade,sliceDown'
		slices:9,
		animSpeed:500, //Slide transition speed
		pauseTime:5000,
		startSlide:0, //Set starting Slide (0 index)
		directionNav:false, //Next & Prev
		directionNavHide:false, //Only show on hover
		controlNav:true, //1,2,3...
		controlNavThumbs:false, //Use thumbnails for Control Nav
      	controlNavThumbsFromRel:false, //Use image rel for thumbs
		controlNavThumbsSearch: '.jpg', //Replace this with...
		controlNavThumbsReplace: '_thumb.jpg', //...this in thumb Image src
		keyboardNav:true, //Use left & right arrows
		pauseOnHover:true, //Stop animation while hovering
		manualAdvance:false, //Force manual transitions
		captionOpacity:1, //Universal caption opacity
		beforeChange: function(){},
	  afterChange: function(){},
	  slideshowEnd: function(){}

	});
});
</script>

		<div id="center_column" class="center_column">
<!-- MODULE Home Featured Products -->
<div id="featured-products_block_center">
	<h4>Featured products</h4>
		<div class="block_content">
		<ul>
						<li class="ajax_block_product">
				<a class="product_image" href="http://livedemo00.template-help.com/prestashop_37970/product.php?id_product=1" title="Pocket Clutch Pencil, Orange"><img src="http://livedemo00.template-help.com/prestashop_37970/img/p/1-1-home.jpg" alt="Pocket Clutch Pencil, Orange" /></a>
				<div>
					<h5><a class="product_link" href="http://livedemo00.template-help.com/prestashop_37970/product.php?id_product=1" title="Pocket Clutch Pencil, Orange">Pocket Clutch Pencil, Orange</a></h5>
					<span class="price">$494.10</span>
					<a class="button" href="http://livedemo00.template-help.com/prestashop_37970/product.php?id_product=1" title="View">View</a>
				</div>
			</li>
						<li class="ajax_block_product">
				<a class="product_image" href="http://livedemo00.template-help.com/prestashop_37970/product.php?id_product=2" title="Mini Notebook and Pencil"><img src="http://livedemo00.template-help.com/prestashop_37970/img/p/2-4-home.jpg" alt="Mini Notebook and Pencil" /></a>
				<div>
					<h5><a class="product_link" href="http://livedemo00.template-help.com/prestashop_37970/product.php?id_product=2" title="Mini Notebook and Pencil">Mini Notebook and Pencil</a></h5>
					<span class="price">$215.00</span>
					<a class="button" href="http://livedemo00.template-help.com/prestashop_37970/product.php?id_product=2" title="View">View</a>
				</div>
			</li>
						<li class="ajax_block_product">
				<a class="product_image" href="http://livedemo00.template-help.com/prestashop_37970/product.php?id_product=3" title="Lorem ipsum dolor sit amet, consectetur adipisicing eli"><img src="http://livedemo00.template-help.com/prestashop_37970/img/p/3-7-home.jpg" alt="Lorem ipsum dolor sit amet, consectetur adipisicing eli" /></a>
				<div>
					<h5><a class="product_link" href="http://livedemo00.template-help.com/prestashop_37970/product.php?id_product=3" title="Lorem ipsum dolor sit amet,...">Lorem ipsum dolor sit amet, consectetur...</a></h5>
					<span class="price">$49.00</span>
					<a class="button" href="http://livedemo00.template-help.com/prestashop_37970/product.php?id_product=3" title="View">View</a>
				</div>
			</li>
						<li class="ajax_block_product">
				<a class="product_image" href="http://livedemo00.template-help.com/prestashop_37970/product.php?id_product=4" title="Pocket Clutch Pencil, Orange"><img src="http://livedemo00.template-help.com/prestashop_37970/img/p/4-10-home.jpg" alt="Pocket Clutch Pencil, Orange" /></a>
				<div>
					<h5><a class="product_link" href="http://livedemo00.template-help.com/prestashop_37970/product.php?id_product=4" title="Pocket Clutch Pencil, Orange">Pocket Clutch Pencil, Orange</a></h5>
					<span class="price">$315.00</span>
					<a class="button" href="http://livedemo00.template-help.com/prestashop_37970/product.php?id_product=4" title="View">View</a>
				</div>
			</li>
						<li class="ajax_block_product">
				<a class="product_image" href="http://livedemo00.template-help.com/prestashop_37970/product.php?id_product=5" title="Mini Notebook and Pencil"><img src="http://livedemo00.template-help.com/prestashop_37970/img/p/5-13-home.jpg" alt="Mini Notebook and Pencil" /></a>
				<div>
					<h5><a class="product_link" href="http://livedemo00.template-help.com/prestashop_37970/product.php?id_product=5" title="Mini Notebook and Pencil">Mini Notebook and Pencil</a></h5>
					<span class="price">$270.00</span>
					<a class="button" href="http://livedemo00.template-help.com/prestashop_37970/product.php?id_product=5" title="View">View</a>
				</div>
			</li>
						<li class="ajax_block_product">
				<a class="product_image" href="http://livedemo00.template-help.com/prestashop_37970/product.php?id_product=6" title="Lorem ipsum dolor sit amet, consectetur adipisicing eli"><img src="http://livedemo00.template-help.com/prestashop_37970/img/p/6-16-home.jpg" alt="Lorem ipsum dolor sit amet, consectetur adipisicing eli" /></a>
				<div>
					<h5><a class="product_link" href="http://livedemo00.template-help.com/prestashop_37970/product.php?id_product=6" title="Lorem ipsum dolor sit amet,...">Lorem ipsum dolor sit amet, consectetur...</a></h5>
					<span class="price">$620.00</span>
					<a class="button" href="http://livedemo00.template-help.com/prestashop_37970/product.php?id_product=6" title="View">View</a>
				</div>
			</li>
					</ul>
	</div>
	</div>
<!-- /MODULE Home Featured Products -->		</div>