<div id="center_column" class="center_column">
 
<div class="breadcrumb">
<div class="breadcrumb_inner">
<a href="http://livedemo00.template-help.com/prestashop_37970/" title="return to Home">Home</a><span class="navigation-pipe">&gt;</span><span class="navigation_page">Your shopping cart</span></div>
</div>
 <h1 id="cart_title">Shopping cart summary</h1>
 
<ul class="step" id="order_step">
<li class="step_current">
Summary
</li>
<li class="step_todo">
Login
</li>
<li class="step_todo">
Address
</li>
<li class="step_todo">
Shipping
</li>
<li id="step_end" class="step_todo">
Payment
</li>
</ul>
 
<p class="warning">Your shopping cart is empty.</p>
</div>