<div id="center_column" class="center_column">
 
<div class="breadcrumb">
<div class="breadcrumb_inner">
<a href="http://livedemo00.template-help.com/prestashop_37970/" title="return to Home">Home</a><span class="navigation-pipe">&gt;</span><span class="navigation_page">Price drop</span></div>
</div>
 <h1>Price drop</h1>
 
<script type="text/javascript">
//<![CDATA[

$(document).ready(function()
{
	$('#selectPrductSort').change(function()
	{
		var requestSortProducts = '/prestashop_37970/prices-drop.php';
		var splitData = $(this).val().split(':');



		document.location.href = requestSortProducts + ((requestSortProducts.indexOf('?') < 0) ? '?' : '&') + 'orderby=' + splitData[0] + '&orderway=' + splitData[1];

	});
});
//]]>

</script>
<form id="productsSortForm" action="/prestashop_37970/prices-drop.php">
<select id="selectPrductSort">
<option value="position:asc" selected="selected">--</option>
<option value="price:asc">Price: lowest first</option>
<option value="price:desc">Price: highest first</option>
<option value="name:asc">Product Name: A to Z</option>
<option value="name:desc">Product Name: Z to A</option>
<option value="quantity:desc">In-stock first</option>
</select>
<label for="selectPrductSort">Sort by</label>
</form>
 
 
<ul id="product_list" class="clear">
<li class="ajax_block_product first_item item clearfix">
<a href="http://livedemo00.template-help.com/prestashop_37970/product.php?id_product=9" class="product_img_link" title="2-hole punch 0102"><img src="http://livedemo00.template-help.com/prestashop_37970/img/p/9-25-home.jpg" alt="2-hole punch 0102" width="218" height="205"/></a>
<div class="center_block">
<div class="product_flags">
<span class="new">New</span> <span class="availability">Available</span> </div>
<h3><a class="product_link" href="http://livedemo00.template-help.com/prestashop_37970/product.php?id_product=9" title="2-hole punch 0102">2-hole punch 0102</a></h3>
<p class="product_desc"><a class="product_descr" href="http://livedemo00.template-help.com/prestashop_37970/product.php?id_product=9" title="Aenean vulputate nisi dapibus tortor interdum sed pharetra quam sollicitudin. Proin semper dictum dictum. Praesent imperdiet justo ac orci condimentum accumsan. Maecenas ut arcu a dui ultricies gravida ut eu diam. Vivamus volutpat semper egestas. Vivamus at diam nulla, ac elementum lorem. Morbi scelerisque magna sit amet tortor egestas facilisis.">Aenean vulputate nisi dapibus tortor interdum sed pharetra quam sollicitudin. Proin semper dictum dictum. Praesent imperdiet justo ac orci condimentum accumsan. Maecenas ut arcu a dui ultricies gravida ut eu diam. Vivamus volutpat semper egestas. Vivamus at diam...</a></p>
</div>
<div class="right_block">
<span class="discount">Reduced price!</span>
<span class="price">$203.00</span> <a class="exclusive ajax_add_to_cart_button" rel="ajax_id_product_9" href="http://livedemo00.template-help.com/prestashop_37970/cart.php?add&amp;id_product=9&amp;token=0f2c2fc31bac8e671e5384f2897a3721" title="Add to cart">Add to cart</a>
<a class="button" href="http://livedemo00.template-help.com/prestashop_37970/product.php?id_product=9" title="View">View</a>
</div>
</li>
<li class="ajax_block_product  alternate_item clearfix">
<a href="http://livedemo00.template-help.com/prestashop_37970/product.php?id_product=12" class="product_img_link" title="Belkin Skype Internet Desk Phone"><img src="http://livedemo00.template-help.com/prestashop_37970/img/p/12-34-home.jpg" alt="Belkin Skype Internet Desk Phone" width="218" height="205"/></a>
<div class="center_block">
<div class="product_flags">
<span class="new">New</span> <span class="availability">Available</span> </div>
<h3><a class="product_link" href="http://livedemo00.template-help.com/prestashop_37970/product.php?id_product=12" title="Belkin Skype Internet Desk Phone">Belkin Skype Internet Desk Phone</a></h3>
<p class="product_desc"><a class="product_descr" href="http://livedemo00.template-help.com/prestashop_37970/product.php?id_product=12" title="Pellentesque aliquam orci magna, nec volutpat ante. Proin luctus mollis gravida. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer ullamcorper, velit a mollis faucibus, nulla est aliquam diam, ut cursus sapien quam ut justo. Phasellus euismod dapibus arcu, vehicula ornare est consectetur id. Curabitur convallis ornare cursus.">Pellentesque aliquam orci magna, nec volutpat ante. Proin luctus mollis gravida. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer ullamcorper, velit a mollis faucibus, nulla est aliquam diam, ut cursus sapien quam ut justo. Phasellus euismod dapibus...</a></p>
</div>
<div class="right_block">
<span class="discount">Reduced price!</span>
<span class="price">$213.30</span> <a class="exclusive ajax_add_to_cart_button" rel="ajax_id_product_12" href="http://livedemo00.template-help.com/prestashop_37970/cart.php?add&amp;id_product=12&amp;token=0f2c2fc31bac8e671e5384f2897a3721" title="Add to cart">Add to cart</a>
<a class="button" href="http://livedemo00.template-help.com/prestashop_37970/product.php?id_product=12" title="View">View</a>
</div>
</li>
<li class="ajax_block_product last_item item clearfix">
<a href="http://livedemo00.template-help.com/prestashop_37970/product.php?id_product=1" class="product_img_link" title="Pocket Clutch Pencil, Orange"><img src="http://livedemo00.template-help.com/prestashop_37970/img/p/1-1-home.jpg" alt="Pocket Clutch Penci, Orange" width="218" height="205"/></a>
<div class="center_block">
<div class="product_flags">
<span class="new">New</span> <span class="availability">Available&nbsp;(Online only!)</span> </div>
<h3><a class="product_link" href="http://livedemo00.template-help.com/prestashop_37970/product.php?id_product=1" title="Pocket Clutch Pencil, Orange">Pocket Clutch Pencil, Orange</a></h3>
<p class="product_desc"><a class="product_descr" href="http://livedemo00.template-help.com/prestashop_37970/product.php?id_product=1" title="Vivamus pellentesque pretium dolor, et pretium elit sagittis in. Duis at enim et magna ultricies viverra. Sed euismod urna non tortor aliquam non tincidunt purus sagittis. Integer lectus orci, placerat ut ultrices vestibulum, porta ut augue. Maecenas eu consectetur diam. Curabitur faucibus congue luctus. Mauris purus metus, faucibus non placerat at,...">Vivamus pellentesque pretium dolor, et pretium elit sagittis in. Duis at enim et magna ultricies viverra. Sed euismod urna non tortor aliquam non tincidunt purus sagittis. Integer lectus orci, placerat ut ultrices vestibulum, porta ut augue. Maecenas eu...</a></p>
</div>
<div class="right_block">
<span class="on_sale">On sale!</span>
<span class="price">$494.10</span> <a class="exclusive ajax_add_to_cart_button" rel="ajax_id_product_1" href="http://livedemo00.template-help.com/prestashop_37970/cart.php?add&amp;id_product=1&amp;token=0f2c2fc31bac8e671e5384f2897a3721" title="Add to cart">Add to cart</a>
<a class="button" href="http://livedemo00.template-help.com/prestashop_37970/product.php?id_product=1" title="View">View</a>
</div>
</li>
</ul>
 
</div>