<!-- Underway -->
<div id="center_column" class="center_column">
 
<div class="breadcrumb">
<div class="breadcrumb_inner">
<a href="/home" title="return to Home">Home</a><span class="navigation-pipe">&gt;</span><span class="navigation_page">Price drop</span></div>
</div>
 <h1>Price drop</h1>
 
<script type="text/javascript">
//<![CDATA[

$(document).ready(function()
{
	$('#selectPrductSort').change(function()
	{
		var requestSortProducts = '/home/prices-drop';
		var splitData = $(this).val().split(':');



		document.location.href = requestSortProducts + ((requestSortProducts.indexOf('?') < 0) ? '?' : '&') + 'orderby=' + splitData[0] + '&orderway=' + splitData[1];

	});
});
//]]>

</script>
<form id="productsSortForm" action="/home/prices-drop">
<select id="selectPrductSort">
<option value="position:asc" selected="selected">--</option>
<option value="price:asc">Price: lowest first</option>
<option value="price:desc">Price: highest first</option>
<option value="name:asc">Product Name: A to Z</option>
<option value="name:desc">Product Name: Z to A</option>
<option value="quantity:desc">In-stock first</option>
</select>
<label for="selectPrductSort">Sort by</label>
</form>
 
 
<ul id="product_list" class="clear">
<li class="ajax_block_product first_item item clearfix">
<a href="" class="product_img_link" title="2-hole punch 0102"><img src="" alt="2-hole punch 0102" width="218" height="205"/></a>
<div class="center_block">
<div class="product_flags">
<span class="new">New</span> <span class="availability">Available</span> </div>
<h3><a class="product_link" href="" title="2-hole punch 0102">2-hole punch 0102</a></h3>
<p class="product_desc"><a class="product_descr" href="" title=""></a></p>
</div>
<div class="right_block">
<span class="discount">Reduced price!</span>
<span class="price">Rs. 203.00</span> <a class="exclusive ajax_add_to_cart_button" rel="ajax_id_product_9" href="" title="Add to cart">Add to cart</a>
<a class="button" href="" title="View">View</a>
</div>
</li>
</ul>
 
</div>