<div id="center_column" class="center_column">
 
<div class="breadcrumb">
<div class="breadcrumb_inner">
<a href="http://livedemo00.template-help.com/prestashop_37970/" title="return to Home">Home</a><span class="navigation-pipe">&gt;</span><span class="navigation_page">My account</span></div>
</div>
 <h1>My account</h1>
<h4>Welcome to your account. Here, you can manage your addresses and orders.</h4>
<ul id="my_account_links">
<li><a href="http://livedemo00.template-help.com/prestashop_37970/history.php" title="Orders"><img src="http://livedemo00.template-help.com/prestashop_37970/themes/theme309/img/icon/order.png" alt="Orders" class="icon"/></a><a href="http://livedemo00.template-help.com/prestashop_37970/history.php" title="Orders">History and details of my orders</a></li>
<li><a href="http://livedemo00.template-help.com/prestashop_37970/order-slip.php" title="Credit slips"><img src="http://livedemo00.template-help.com/prestashop_37970/themes/theme309/img/icon/slip.png" alt="Credit slips" class="icon"/></a><a href="http://livedemo00.template-help.com/prestashop_37970/order-slip.php" title="Credit slips">My credit slips</a></li>
<li><a href="http://livedemo00.template-help.com/prestashop_37970/addresses.php" title="Addresses"><img src="http://livedemo00.template-help.com/prestashop_37970/themes/theme309/img/icon/addrbook.png" alt="Addresses" class="icon"/></a><a href="http://livedemo00.template-help.com/prestashop_37970/addresses.php" title="Addresses">My addresses</a></li>
<li><a href="http://livedemo00.template-help.com/prestashop_37970/identity.php" title="Information"><img src="http://livedemo00.template-help.com/prestashop_37970/themes/theme309/img/icon/userinfo.png" alt="Information" class="icon"/></a><a href="http://livedemo00.template-help.com/prestashop_37970/identity.php" title="Information">My personal information</a></li>
<li><a href="http://livedemo00.template-help.com/prestashop_37970/discount.php" title="Vouchers"><img src="http://livedemo00.template-help.com/prestashop_37970/themes/theme309/img/icon/voucher.png" alt="Vouchers" class="icon"/></a><a href="http://livedemo00.template-help.com/prestashop_37970/discount.php" title="Vouchers">My vouchers</a></li>
</ul>
<ul class="footer_links">
<li><a href="http://livedemo00.template-help.com/prestashop_37970/" title="Home"><img src="http://livedemo00.template-help.com/prestashop_37970/themes/theme309/img/icon/home.png" alt="Home" class="icon"/></a><a href="http://livedemo00.template-help.com/prestashop_37970/" title="Home">Home</a></li>
</ul> </div>