<div id="center_column" class="center_column">
 
<div class="breadcrumb">
<div class="breadcrumb_inner">
<a href="/home" title="return to Home">Home</a><span class="navigation-pipe">&gt;</span><span class="navigation_page">My account</span></div>
</div>
 <h1>My account</h1>
<h4>Welcome to your account. Here, you can manage your addresses and orders.</h4>
<ul id="my_account_links">
<li><a href="" title="Orders"><img src="" alt="Orders" class="icon"/></a><a href="" title="Orders">History and details of my orders</a></li>
<li><a href="" title="Credit slips"><img src="" alt="Credit slips" class="icon"/></a><a href="" title="Credit slips">My credit slips</a></li>
<li><a href="" title="Addresses"><img src="" alt="Addresses" class="icon"/></a><a href="" title="Addresses">My addresses</a></li>
<li><a href="" title="Information"><img src="" alt="Information" class="icon"/></a><a href="" title="Information">My personal information</a></li>
<li><a href="" title="Vouchers"><img src="" alt="Vouchers" class="icon"/></a><a href="" title="Vouchers">My vouchers</a></li>
</ul>
<ul class="footer_links">
<li><a href="" title="Home"><img src="" alt="Home" class="icon"/></a><a href="/home" title="Home">Home</a></li>
</ul> </div>