<div id="center_column" class="center_column">
 
<div class="breadcrumb">
<div class="breadcrumb_inner">
<a href="/home" title="return to Home">Home</a><span class="navigation-pipe">&gt;</span><span class="navigation_page">Contact</span></div>
</div>
 <h1>Customer Service - Contact us</h1>
<p class="bold">For questions about an order or for more information about our products.</p>
<form action="/contact/message" method="post" class="std" enctype="multipart/form-data">
<fieldset>
<h3>Send a message</h3>
<p class="select">
<label for="id_contact">Subject Heading</label>
<select id="id_contact" name="heading" onchange="showElemFromSelect('id_contact', 'desc_contact')">
<option value="0">-- Choose --</option>
<option value="2">Customer service</option>
<option value="1">Webmaster</option>
</select>
</p>
<p id="desc_contact0" class="desc_contact">&nbsp;</p>
<p id="desc_contact2" class="desc_contact" style="display:none;">
For any question about a product, an order
</p>
<p id="desc_contact1" class="desc_contact" style="display:none;">
If a technical problem occurs on this website
</p>
<p class="text">
<label for="email">E-mail address</label>
<input type="text" id="email" name="email" value=""/>
</p>
<p class="text">
<label for="id_order">Order ID</label>
<input type="text" name="orderid" id="id_order" value=""/>
</p>
<p class="text file_input">
<label for="fileUpload">Attach File</label>
<input type="hidden" name="MAX_FILE_SIZE" value="2000000"/>
<input type="file" name="product" id="fileUpload"/>
</p>
<p class="textarea">
<label for="message">Message</label>
<textarea id="message" name="message" rows="15" cols="20"></textarea>
</p>
<p class="submit">
<input type="submit" id="submitMessage" value="Send" class="button_large"/>
</p>
</fieldset>
</form>
</div>